<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

  <!-- Define targets -->
  <targets>
    <!-- Log to a file -->
    <target name="file" xsi:type="File"
            fileName="D:\Users\anjum.rizwi\source\repos\anjumrizwi\DocEngine\DocEngine.TestClient\logs\app.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

    <!-- Log to console -->
    <target name="console" xsi:type="Console"
            layout="${level:uppercase=true} | ${message}" />
  </targets>

  <!-- Define rules -->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file,console" />
  </rules>
</nlog>